<section id="hero">
  <div class="d-flex align-items-center vh-100 text-white">
    <div class="row">
      <div class="col m-5">
        <h1 class="mb-3">Yehya Gamal</h1>
        <p class="mb-3 fs-5 text-center">Android Developer</p>
        <div class="d-flex justify-content-center">
          <a
            href="#about"
            class="btn text-white p-2"
            style="background-color: #3d3d3d"
          >
            About me
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
