<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/">STORE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="/">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/cart">
            <span class="p-1 bg-white rounded-circle">{{
              count
              }}</span>
            <span class="text-white" routerLink="/cart">Cart</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="/auth">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/auth/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>