<section id="skills" style="background-color: #3d3d3d">
  <div class="row">
    <div class="col text-center text-white mt-5">
      <h2 class="mb-3">Skills</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos pariatur
        repudiandae minus tenetur fugiat aut, perferendis animi nulla voluptatem
        dolores cum provident totam similique natus ipsa illum velit ratione
        possimus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos
        pariatur repudiandae minus tenetur fugiat aut, perferendis animi nulla
        voluptatem dolores cum provident totam similique natus ipsa illum velit
        ratione possimus?
      </p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4 text-center text-white">
      <h3 class="mb-3">Frameworks/Tools</h3>
      <p>Jetpack Compose</p>
      <p>KMM</p>
      <p>React Native</p>
      <p>Node Js</p>
      <p>Docker</p>
    </div>

    <div class="col-md-8">
      <div *ngFor="let skill of skills" class="mb-3">
        <div class="progress" style="height: 20px">
          <h6 class="skill-name">{{ skill.name }}</h6>
          <div
            class="progress-bar bg-dark"
            [style.width.%]="skill.progress"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
