<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<footer id="footer" class="bg-dark text-light">
  <div class="row">
    <div class="col-4 mt-5 mb-5 text-start">
      <h4 class="mb-1">GET IN TOUCH</h4>
      <p>Email: yehyagamal84@gmail.com</p>
    </div>
    <div class="col-4 mt-5 mb-5 text-center">
      <a class="btn text-white p-1" style="background-color: #3d3d3d">
        FOLLOW ME
      </a>
    </div>
    <div class="col-4 mt-5 mb-5 text-end">
      <ul class="class= mb-1">
        <li class="list-inline-item">
          <a href="https://www.facebook.com" target="_blank" title="Facebook">
            <i class="fab fa-facebook" style="color: #333"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.github.com" target="_blank" title="GitHub">
            <i class="fab fa-github" style="color: #333"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com" target="_blank" title="LinkedIn">
            <i class="fab fa-linkedin" style="color: #333"></i>
          </a>
        </li>
      </ul>
      <h4>Copyright @ Yehya Gamal</h4>
    </div>
  </div>
</footer>
