<section id="about" class="mb-5 mt-5">
  <div class="row">
    <div class="col text-center">
      <h1>About Me</h1>
    </div>
    <div class="col">
      <p class="mb-3 fs-5">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla sint id
        expedita dolorem? Similique, distinctio vero. Itaque, consequuntur sequi
        necessitatibus esse quos eos aut non ab amet incidunt enim voluptatem.
      </p>
      <button type="button" class="btn btn-dark p-2">Download CV</button>
    </div>
  </div>
</section>
