<div class="fw-bold d-flex justify-content-center align-items-center vh-100">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" />
      <p class="mt-2 text-danger"
        *ngIf="registerForm.get('name')?.errors?.['required'] && registerForm.get('name')?.touched">
        Name is required
      </p>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" placeholder="Enter email" formControlName="email"
        formControlName="email" />
      <ng-container *ngIf="registerForm.get('email')?.touched">
        <p class="mt-2 text-danger" *ngIf="registerForm.get('email')?.errors?.['required']">
          Email Address is required
        </p>
        <p class="mt-2 text-danger" *ngIf="registerForm.get('email')?.errors?.['email']">
          Email Address is invalid
        </p>
      </ng-container>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" placeholder="Enter Username" formControlName="username" />
      <ng-container *ngIf="registerForm.get('username')?.touched">
        <p class="mt-2 text-danger" *ngIf="registerForm.get('username')?.errors?.['required']">
          Username is required
        </p>
        <p *ngIf="registerForm.get('username')?.errors?.['pattern']" class="mt-2 text-danger">Username should not
          contain
          spaces
        </p>
      </ng-container>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" placeholder=" Enter password" formControlName="password" />
      <ng-container *ngIf="registerForm.get('password')?.touched">
        <p *ngIf=" registerForm.get('password')?.errors?.['required']" class="mt-2 text-danger">
          Password is required
        </p>
        <p *ngIf="registerForm.get('password')?.errors?.['minlength']" class="mt-2 text-danger">
          Password should be at least 8 characters long
        </p>
        <p *ngIf="registerForm.get('password')?.errors?.['pattern']" class="mt-2 text-danger">
          Password must contain at least one lowercase, one uppercase, one
          digit, and one special character
        </p>
      </ng-container>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Confirm Password</label>
      <input type="password" class="form-control" placeholder=" Enter Confirmed Password"
        formControlName="confirmPassword" />
      <ng-container *ngIf="registerForm.get('confirmPassword')?.touched">
        <p *ngIf="registerForm.get('confirmPassword')?.errors?.['required']" class="mt-2 text-danger">
          Confirm password is required
        </p>
        <p *ngIf="registerForm.get('confirmPassword')?.errors?.['passwordMismatch']" class="text-danger">
          Passwords do not match
        </p>
      </ng-container>
    </div>

    <button class="btn btn-success mt-3">Register</button>
    <p class=" mt-3 fs-5">
      Aleardy have account! <a class="text-dark" routerLink="/auth/login">Login</a>
    </p>
  </form>
</div>